<div class="menu">
  <button style="font-family: 'Times New Roman', Times, serif;font-size: 25px; color: rgb(109, 10, 10);" mat-button
    routerLink="">Home</button>

  <button style="font-family: 'Times New Roman', Times, serif;font-size: 25px; color: rgb(109, 10, 10);" mat-button
    [matMenuTriggerFor]="aboveMenu">Goals</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/goals/newgoal">Add Goal</button>
    <button mat-menu-item routerLink="/goals">Goal List</button>
  </mat-menu>

  <button style="font-family: 'Times New Roman', Times, serif;font-size: 25px; color: rgb(109, 10, 10);" mat-button
    [matMenuTriggerFor]="beforeMenu">User</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="signup">Sign Up</button>
    <button mat-menu-item routerLink="login">Login</button>
  </mat-menu>
  <!-- <mat-icon color="warn" style ="font-size:large" aria-hidden="false" aria-label="Example home icon" routerLink="">home</mat-icon> -->

  <img src="./assets/Spyglass.jpg">

</div>

<!-- <button mat-button routerLink="/goalsChart">Progress</button> -->
<!-- <button mat-button routerLink="">Get Started</button> -->

<!-- <button mat-button routerLink="">Home</button> -->

<router-outlet></router-outlet>