<br><br><br><br>
<div class="image">
  <img src="../assets/moneyplant.jpg">
</div>

<div class="addgoal-component" style="width: 500px; margin: auto;">
  <h1 style="color: rgb(109, 10, 10);">Let's get started!</h1>

  <br>
  <mat-form-field>
    <mat-label style="font-size: 20px; color: black;">Target Savings </mat-label>
    <input matInput placeholder="$0.00" [(ngModel)]="targetSavings" required>
  </mat-form-field>


  <mat-form-field>
    <mat-label for="targetDate" style="font-size: 20px; color: black;">Target Date</mat-label>
    <input matInput type="date" class="form-control" id="targetDate" required [(ngModel)]="targetDate"
      name="targetDate" />
  </mat-form-field>


  <br><br>

  <button style="color: white; font-size: 20px;" mat-raised-button color="warn" (click)="monthlyPlan()">Suggested Savings Plan</button><br><br>
  <div class="savings-plan-container" *ngIf="monthPlan">
    <P style = "color: purple; font-weight: bold; font-size: 20px;">
      Monthly Savings: {{monthlySavings | currency:'USD'}}<br><br>
      Bi Weekly Savings: {{monthlySavings/2 | currency:'USD'}}
    </P>
</div>